.ant-tabs {
  border-radius: 10px;
  padding: 32px;
  align-items: center;
}

.ant-tabs-tab {
  font-weight: 400;
  size: 14px;
  line-height: 22px;
  background-color: #fff;
}

.ant-tabs-nav {
  max-width: 146px;
}

.ant-tabs-tabpane {
  padding: 20px;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
}
