.card-movie {
  max-width: 451px;
  max-height: 259px;
  display: flex;
  box-shadow: 0px 4px 12px 0px #00000026;

  .card-movie__img {
    height: 100%;
  }

  .card-movie__info {
    padding: 10px 20px 49px 20px;
    display: flex;
    flex-direction: column;
    gap: 9px;
    text-align: left;

    .title {
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
    }

    .date {
      font-size: 12px;
      line-height: 22px;
      color: #827e7e;
    }

    .description {
      font-size: 12px;
      line-height: 22px;
      font-weight: 400;
    }
  }
}
