.card-movie {
  min-width: 401px;
  max-height: 280px;
  display: flex;
  gap: 5px;
  box-shadow: 0px 4px 12px 0px #00000026;
  position: relative;

  .card-movie__img {
    height: 100%;
    object-fit: cover;
  }

  .card-movie__info {
    padding: 10px 20px 49px 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: left;
    max-width: 238px;

    .title {
      font-weight: 400;
      font-size: 14px;
      line-height: 28px;
    }

    .date {
      font-size: 10px;
      line-height: 22px;
      color: #827e7e;
    }

    .description {
      font-size: 10px;
      line-height: 22px;
      font-weight: 400;
    }
  }
}

/* Адаптивные стили для экранов шириной до 768px */
@media (max-width: 768px) {
  .card-movie {
    min-width: 100%;
    max-width: 100%;
    max-height: none;
    align-items: center;
    padding: 10px;
  }

  .card-movie__img {
    max-height: 100%;
    max-width: 50%;
  }

  .card-movie__info {
    max-width: 50%;
    padding: 0px;
    text-align: center;

    .title {
      font-size: 20px;
      line-height: 28px;
    }

    .date,
    .description {
      font-size: 12px;
      line-height: 22px;
    }
  }
}

/* Адаптивные стили для экранов шириной до 480px
@media (max-width: 480px) {
    .card-movie {
        padding: 5px;
        gap: 5px;
    }

    .card-movie__img {
        max-height: 150px;
    }

    .card-movie__info {
        padding: 5px;

        .title {
            font-size: 16px;
            line-height: 24px;
        }

        .date, .description {
            font-size: 12px;
            line-height: 18px;
        }
    }
} */
