* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  padding-left: 200px;
  padding-right: 200px;
}

.app-container {
  display: flex;
  flex-direction: column;
  gap: 34px;
  align-items: center;
  padding: 36px;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media (max-width: 768px) {
  .app-container {
    gap: 0px;
    padding: 0;
  }

  .ant-tabs {
    padding: 0px;
  }
}
